node_modules
_node_modules
_site
coverage
components/package.json
packages/design/undefined
/npm
/__test__
/_npm
/lib
/es
/dist
/server/www.sparrowui.cn_nginx/*
dist
es
sparrow-ui
www.sparrowui.cn_nginx