.main {
    width: 100%;
    height: calc(100% - 64px);
    display: flex;
    .menu {
        width: 15%;
        height: 100%;
        padding: 20px 40px 0 40px;
        overflow-y: auto;
        border-right: 1px solid #d6d5d5;

        ol {
            list-style: none;
        }

        ul {
            li {
                p {
                    color: #00000073;
                    font-size: 13px;
                    border-bottom: 1px solid #3531312e;
                    ;
                    padding-bottom: 10px;
                    // width: 80%;
                }

                ol {
                    li, a {
                        transition: .5s;
                        font-size: 13.5px;
                        color: #33423f;
                        padding: 10px 0;
                        font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
                        cursor: pointer;
                        &:hover {
                            color: #09b8b8;
                        }
                        &.active {
                            a {
                                color: #09b8b8;
                            }
                        }
                    }
                }
            }
        }
    }
    .show-components {
        padding: 20px;
        box-sizing: border-box;
        flex: 1;
        border-right: 1px dotted #ccc;

    }
    .code {
        width: 0;
        height: 100%;
        transition: .5s;
        overflow:auto;
        &.active {
            width: 35%;
            // padding: 30px;
            box-sizing: border-box;
            background-color: rgb(250, 250, 250);
        }
    }
}

h2, h3, h4, h5, h6{
    clear: both;
    margin: 1.6em 0 .6em;
    color: #000000d9;
    font-weight: 500;
    font-family: Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji",sans-serif;
}
h2 {
    font-size: 24px;
    line-height: 32px;
}