// @import '../../common/styles/theme.less';
.sp-button {
    background-color: var(--color-white);
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid var(--border-color-base);
    border-color: var(--border-color-base);
    color: var(--color-text-regular);
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .4s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;

    &-circle {
        border-radius: 50%;
        padding: 12px;
    }

    &-round {
        border-radius: 20px;
        padding: 12px 23px;
        // width: 14px;
    }



    &.is-loading {
        transition: .4s;
        position: relative;
        padding-left: 32px;
        >.sp-icon-loading {
            position: absolute;
            display: inline-block;
            left: 12px;
            width: 16px;
            height: 16px;
            animation: loadingLeftTme .4s linear;
        }
    }

    &.empty-loading {
        position: inherit;
        padding: 12px;
        >.sp-icon-loading{
            position: inherit;
        }
    }

    &-mini {
        font-size: 12px;
        padding: 6px 10px;
        &.is-loading{
            padding-left: 24px;
            >.sp-icon-loading { 
                left: 6px;
                width: 14px;
                height: 14px;  
                font-size: 12px;
                animation: loadingLeftTmeMini .4s linear;
            }
        }
        &.empty-loading {
            padding: 6px;
        }
    }
    &-small {
        font-size: 13px;
        padding: 9px 13px;
        &.is-loading{
            padding-left: 27px;
            >.sp-icon-loading{ 
                left: 9px;
                width: 15px;
                height: 15px;  
            }
        }
        &.empty-loading {
            padding: 9px;
        }
    }

    &-disabled {
        background-color: #c8c9cc;
        pointer-events: none;

        &:hover {
            cursor: not-allowed;
        }
    }
}

@keyframes loadingLeftTme {
    from {
        left: 0px;
    }

    to {
        left: 12px;
    }
}


@keyframes loadingLeftTmeMini {
    from {
        left: 0px;
    }

    to {
        left: 6px;
    }
}