.sp-message {
    min-width: 380px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background-color: var(--color-white);
    padding: 10px;
    box-shadow: 0 0 10px 1px #ccc;
    border-radius: 3px;
    align-items: center;
    transition: opacity .2s,transform 0.3s,top .3s;
    opacity: 1;
    &-content {
        display: flex;
        flex: 1;
    }
    .sp-icon {
        font-size: 18px;
        margin-right: 10px;
    //     &-success {
    //     color: green;
    //     }
    //     &-error {
    //         color: rgb(219, 22, 22);
    //     }
    //     &-info {
    //         color: var(--color-text-regular);
    //     }
    //     &-loading {
    //         color: var(--color-primary);
    //     }
    }
    .sp-icon-close {
        // opacity: 0;
        margin-left: 10px;
        font-size: 18px;
        color: var(--color-text-secondary);
        cursor: pointer;
        font-weight: bold;

        &:hover {
            color: var(--color-primary);
        }
    }
    &-fade-enter, &-fade-leave {opacity:0;transform:translate(-50%,-100%)}
    &-fade-enter-active {
        opacity:1;transform:translate(-50%,0%)
    }
}