<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% for cssFile in manifest["css"] %}
    <Link rel="stylesheet" type="text/css" href="{{ root }}{{cssFile}}"></Link>
    {% endfor %}
</head>

<body>
    <div id="react-content">{{ content | safe }}</div>
    {% for jsFile in manifest["js"] %}
    <script src="{{ root }}{{jsFile}}"></script>
    {% endfor %}

</body>

</html>