.sp-progress {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.sp-progress-bar {
  width: 100%;
  display: flex;
  align-items: center;
}
.sp-progress-bar__outer {
  flex: 1;
  background-color: #e5e9f2;
  border-radius: 3px;
  overflow: hidden;
}
.sp-progress-bar__inner {
  height: 100%;
  background-color: var(--color-primary);
  display: flex;
  align-self: center;
  align-items: center;
  transition: width 0.6s ease;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.sp-progress-bar__inner > .sp-progress-bar__text {
  width: 100%;
  font-size: 13px;
  color: #fff;
  text-align: right;
  margin-right: 5px;
}
.sp-progress-bar > .sp-progress-bar__text {
  display: inline-block;
  margin-left: 5px;
  font-size: 13px;
  width: 35px;
}
.sp-progress-circle,
.sp-progress-dashboard {
  position: relative;
}
.sp-progress-circle__track,
.sp-progress-dashboard__track {
  stroke: #e5e9f2;
}
.sp-progress-circle > .sp-progress-bar__text,
.sp-progress-dashboard > .sp-progress-bar__text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
}
